.basicui.section {
    position: absolute;
    opacity: 1;
    min-width: 10px;
    min-height: 10px;
    pointer-events: none;
}

.basicui.section.debug {
    background: rgba(239, 83, 80, 0.6)
}

.basicui.section.dimmer {
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.2);
}